<%- include("partials/header") %>

<section class="testimonials content" id="testimonials">
<!-- bootstrap: using carsouel is to present many things in the same region and make it slide auto or manualy ny buttons -->    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="testimonials-head">Our website will allow you to reach to anything you want and buy it by only one click</h2>
        <img class="testimonial-image" src="images/rating.png" alt="dog-profile">
      </div>
      <div class="carousel-item">
        <h2 class="testimonials-head">The most important thing is our customer happiness</h2>
        <img class="testimonial-image" src="images/happy.png" alt="lady-profile">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>


</section>



<%- include("partials/footer") %>
